.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.User-account {
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 400px;
  background-color: #61dafba0;
  border-radius: 10px;
}

.Account-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Account-header {
  display: flex;
  flex: 1;
  padding: 5px;
}

.Account-details {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.Account-from {
  display: flex;
  flex: 2;
}

.Account-fromAddress {
  display: flex;
  flex: 8;
  font-size: 12px;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.Account-address {
  display: flex;
  flex: 2;
  font-size: 16px;
  background-color: #61dafba0;
  padding: 5px;
  border-radius: 8px;
}

.Account-balanceDetails {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.Account-balance {
  display: flex;
  flex: 2;
  font-size: 24px;
}

.Account-balanceHeader {
  display: flex;
  flex: 2;
  font-size: 18px;
}

.Account-balanceValue {
  display: flex;
  flex: 8;
  font-size: 12px;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.Form-container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.Transaction-result {
  background-color: #4bb543;
  display: flex;
  /* flex: 1; */
  flex-direction: column;
}

.Transaction-details {
  display: flex;
  flex-direction: column;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card-table th {
  min-width: 100px;
  padding: 12px !important;
}
.card-table th:nth-child(2) {
  min-width: 350px;
  max-width: 350px;
}
.card-table th:nth-child(3) {
  min-width: 380px;
  max-width: 380px;
}
.card-table th:nth-child(4) {
  min-width: 340px;
  max-width: 340px;
}

.accordion-dropdown .card-header {
  padding: 0px;
}
.accordion-dropdown .card {
  margin: 0px;
}
.accordion-dropdown button {
  background-color: #404040bf;
}
.accordion-dropdown p {
  text-align: left;
  min-width: 100px;
  padding: 12px;
}
.accordion-dropdown p:nth-child(2) {
  min-width: 350px;
  max-width: 350px;
}
.accordion-dropdown p:nth-child(3) {
  min-width: 390px;
  max-width: 390px;
}

.patent-id {
  min-width: 320px;
  max-width: 320px;
  padding-right: 20px;
}

.patent-id img,
.open-new {
  width: 16px;
}
.page-main {
  height: 100vh;
  overflow: auto;
}

.overlay {
  position: absolute;
  height: 50vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  /* cursor: none; */
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  border: 8px solid #4a4a4a;
  border-radius: 50%;
  border-top: 8px solid #fff;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}
.loader::after {
  content: "";
  display: none;
}
.loader::before {
  content: "";
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.alert-primary {
  cursor: pointer;
}
img {
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}

.btn-info {
  width: 120px;
}

.alert-modal span {
  font-size: 12px;
}

.input-width {
  width: 390px;
}

.alert-popup {
  min-height: 300px;
}
